<html>
    <head>
        <title> Quiz to know your style </title>
        <style>
            *{
                margin: 0;
                padding: 0px;
                box-sizing: border-box;
            }
            body{
                font-size: 19.2px;
            }
            .containor{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                gap: 20px;
                background-color: #d4c2c2a4;
            }
            .left-text{
                flex-basis: 70%;
                margin-top: 1px;
                position: relative;
            }
            .heading{
                font-size: 48px;
                color: whitesmoke;
                text-align: center;
            }
            .subheading{
                color: whitesmoke;
                text-align: center;
                margin-top: 10px;
            }
            table{
                border-spacing: 10px;
            }
            tr{
                background-color: whitesmoke;
                
            }
            img{
                float: left;
                border: 0cap;
                border-radius: 10px;
            }
            h3{
                text-align: center;
                color: rgba(29, 49, 49, 0.753);
            }
            p{
                font-size: 18px;
                color: rgba(29, 49, 49, 0.753);
            }
        </style>
    </head>
    <body>
        <div class="containor">
            <div class="left-text">
                <h2 class="heading">
                    What style feels most like you?

                </h2>
                <p class="subheading">
                    You can choose more than one.                
                </p>
            </div>
            <table>
                <tr>
                    <td>
                        <div class="quiz">
                            <h3> Scandnavion </h3>
                            <img src="scandinavian.jpg">
                            <p>Simplicity is your secret to a classic life. You love clean lines, plush fabrics and handcrafted things. You get really excited about functional storage solutions and cozy pants on Sundays.</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                    <div class="quiz">
                        <h3> Mid Century </h3>
                        <img src="mid_century.jpeg">
                        <p>The set from Mad Men was a true style revelation. You go for sleek lines mixed with organic shapes and a color scheme that Don Draper would love.</p>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="quiz">
                            <h3>Glam</h3>
                            <img src="glam.jpeg">
                            <p>You’ve never seen a mirror you didn’t love. Luxe fabrics, metallics, and crystals pull it all together for you. You’re not afraid to let your pieces shimmer and shine.</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="quiz">
                            <h3>Bohimian</h3>
                            <img src="bohemian.jpeg">
                            <p>Peace, love, and patterns. Your love of vibrant colors, layered textures, and ornate embellishments create a whimsical lair with let-down-your-hair flair.</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="quiz">
                            <h3>Minimalist</h3>
                            <img src="minimalist.jpeg">
                            <p>Less is more in your book. You’ll never see clutter in your perfect home. Instead, you’re all clean lines, open spaces, and functional design.</p>
                        </div> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="quiz">
                            <h3>Rustic</h3>
                            <img src="rustic.jpeg">
                            <p>When it comes to style, you’re a real natural. You feel grounded at home when surrounded by raw wood, leather fabrics, and warm earthy tones.</p>
                        </div>
                    </td>
                </tr>
                <tr>             
                    <td>
                        <div class="quiz">
                            <h3>Industrial</h3>
                            <img src="industrial.jpg">
                            <p>Exposed brick and stone, smooth metals and muted colors add chic, modern style with masculine undertones.</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="quiz">
                            <h3>Preppy</h3>
                            <img src="preppy.jpg">
                            <p>You’ve got some prep in your step. Vibrant navy, greens, and pinks really row your boat. And you’re all about those All-American stripes, polka dots and argyle.</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>